
<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Stations</h2>

              <form>
               <a href="/createstation" ><div class="d-flex justify-content-center">
                    <button type="button"
                      class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Create-station</button>
                  </div>
                 
                </a>

                <a href="/updatestation">
                 <div class="d-flex justify-content-center">
                    <button type="button"
                      class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Update-station</button>
                  </div>
                </a>
                  <a href="/deletestation">
                  <div class="d-flex justify-content-center">
                    <button type="button"
                      class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Delete-station</button>
                  </div>
                </a>
                <a href="/showallstations">
                  <div class="d-flex justify-content-center">
                    <button type="button"
                      class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Showall-Stations</button>
                  </div>
                </a>
               

               
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>