<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">all trips</h2>

              <form>

               
               
      
                <div class="container">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">From Station</th>
                        <th scope="col">To Station</th>
                        <th scope="col">Start Time</th>
                        <th scope="col">End Time</th>
                      </tr>
                    </thead>
                    <tbody>

                      <tr *ngFor="let item of allTrip">
                        <th scope="row">{{ item.tripid }}</th>
                        <td>{{ item.startTime}}</td>
                        <td>{{ item.endTime}}</td>
                        <td>{{ item.fromStation}}</td>
                        <td>{{ item.toStation}}</td>
                      
                      </tr>
                    </tbody>
                  </table>
                </div>

               

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>